<template name="layout">
  <div class="container">
    <div class="masthead">
      <h1 class="text-muted">D2S Card</h1>
      <nav>
        <ul class="nav nav-justified">
          <li class="active"><a href="{{pathFor 'homeTemplate'}}">Home</a></li>
          <li><a href="{{pathFor 'aboutTemplate'}}">About Us</a></li>
          <li><a href="{{pathFor 'contactUsTemplate'}}">Contact Us</a></li>
          <li><a href="{{pathFor 'partnerWithUsTemplate'}}">Partner With Us</a></li>
          {{#if currentUser}}
          <!-- <li><a href="{{pathFor 'applyForCardTemplate'}}">Apply For a Card</a></li> -->
          <li><a href="http://www.emailmeform.com/builder/form/9fmbd54Dbavqx7ctpX3">Apply For a Card</a></li>
          <li><button id="logout">Logout</button></li>
          {{else}}
          <li><button id="facebook-login" class="btn btn-default"> Login with Facebook</button></li>
          {{/if}}
        </ul>
      </nav>
    </div>


    <div id="main" class="row-fluid">
      {{> yield}}
    </div>
  </div>
</template>